@import "../../global/global.css";

/* MAIN */

* {
  transition: 0.4s;
}
.cont-Login {
  background-image: url("../../../img/pages/index/fundo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.box-login {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  background-color: #fff;

  border-radius: 20px;
  width: 60vh;
  height: 80%;
  margin: 6.5vh 4%;
  padding: 50px 20px;
  box-sizing: border-box;
}

.input-box {
  position: relative;
}

.input-box input {
  margin-top: 30px;
  border-radius: 20px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: #ccc;
  padding: 20px 45px 20px 20px;
  box-sizing: border-box;
  transition: 0.4s;
}

.input-box input:hover {
  box-shadow: 0px 0px 10px 0.5px #000;
}

.input-box input:focus {
  box-shadow: inset 0px 0px 10px 0.5px #000;
}

.input-box i {
  position: absolute;
  font-size: 30px;
  top: 50%;
  right: 20px;
  transform: translateY(-20%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"] {
  appearance: none;
  -moz-appearance: textfield;
}
