
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .5s linear;
    z-index: 0; 
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 0px 0px 30px 5px #000;
}

main {
    background-color: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */

